---
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import ChatWidget from "../components/common/ChatWidget.astro";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import SEO from "../components/common/SEO.astro";
import Schema from "../components/common/Schema.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  nofollow?: boolean;
  ogType?: "website" | "article" | "profile" | "book" | "video.other" | "video.movie" | "video.episode" | "video.tv_show" | "music.song" | "music.album" | "music.playlist" | "music.radio_station";
}

const { title, description, image, noindex, nofollow, ogType } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=AW-11149613429"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "AW-11149613429");
    </script>

    <SEO title={title} description={description} image={image} noindex={noindex} nofollow={nofollow} ogType={ogType} />
    <slot name="head" />

    <!-- Global Schemas -->
    <Schema type="EducationalOrganization" />
    <Schema type="WebSite" />
    <Schema type="LocalBusiness" />

    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" media="print" onload="this.media='all'" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined&display=swap" media="print" onload="this.media='all'" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" media="print" onload="this.media='all'" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" media="print" onload="this.media='all'" />
  </head>
  <body class="bg-white text-gray-900 font-sans text-base antialiased min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow w-full relative">
      <slot />
    </main>
    <Footer />
    <ChatWidget />
    <Analytics />
    <SpeedInsights />
  </body>
</html>
